/* body { height: auto; width: 99%; font-size: 11px; background: #000000 url(../images/dark-metal.jpg) 50% 50% repeat; } */

/*
@import url("../font/stylesheet.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
*/

/* ---------------- Fonts ---------------- */

/* Courrier New */

@font-face
{
  /* normal */
  font-family: CourierNew;
  src: url(../fonts/CourierNew.ttf);
}

@font-face
{
  /* bold */
  font-family: CourierNew;
  src: url(../fonts/CourierNewBold.ttf);
  font-weight: bold;
}

@font-face
{
  /* italic */
  font-family: CourierNew;
  src: url(../fonts/CourierNewItalic.ttf);
  font-style: italic;
}

@font-face
{
  /* bold italic */
  font-family: CourierNew;
  src: url(../fonts/CourierNewBoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

/* ----------- Application body ---------- */

body
{
  /* '!important' is used so that other style won't overrule this */
	outline: 0 none !important;
  /* Margin is defined to ensure the same behaviour in all browsers */
  margin: 0;
  /* Padding is defined to ensure the same behaviour in all browsers */
  padding: 0;
  /* Fonts are saved on server so we don't need backups */
	font-family: "CourierNew";
  /* browser default (usually 16px) */
	font-size: 100%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
  background-color: black;
}

/* TEST */
p
{
  color: green;
  font-family: CourierNew;
}