/* body { height: auto; width: 99%; font-size: 11px; background: #000000 url(../images/dark-metal.jpg) 50% 50% repeat; } */

/*
@import url("../font/stylesheet.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
*/

/* ---------------- Fonts ---------------- */

/* Courrier New */

@font-face
{
  /* normal */
  font-family: CourierNew;
  src: url(/fonts/CourierNew.ttf);
}

@font-face
{
  /* bold */
  font-family: CourierNew;
  src: url(/fonts/CourierNewBold.ttf);
  font-weight: bold;
}

@font-face
{
  /* italic */
  font-family: CourierNew;
  src: url(/fonts/CourierNewItalic.ttf);
  font-style: italic;
}

@font-face
{
  /* bold italic */
  font-family: CourierNew;
  src: url(/fonts/CourierNewBoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

/* ----------- Generic settings ---------- */

/* Include padding and border to the width and height of all elements */
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* -------------- Scrollbars ------------- */

/*
  Only works in webkit-capable browsers (Chrome, Opera, Safari).
  Sorry, Firefox users...
*/

/* The size of the scrollbar */
::-webkit-scrollbar
{
  width: 9px;
}

/* The scrollbar track's style */

::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgb(80,100,120);*/
  box-shadow: inset 0 0 8px rgb(80,100,120);
}

/* The scrollbar handle */
::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background: rgb(0,0,0);
  box-shadow: inset 0 0 8px rgb(110,150,190);
}

/* The scrollbar handle when the browser window is in the background */
/*
::-webkit-scrollbar-thumb:window-inactive
{
  background: rgb(0,0,0);
  -webkit-box-shadow: rgb(110,130,150);
}
*/

/* ---------------- <body> --------------- */

.Body
{
  /* '!important' is used so that other style won't overrule this */
	outline: 0 none !important;
  /* Margin is defined to ensure the same behaviour in all browsers */
  margin: 0;
  /* Padding: 0 is defined to ensure the same behaviour in all browsers */
  padding: 0;
  padding-right: 0.5px;  /* to make sure that window borders are visible */
  padding-top: 1.1px;    /* to make sure that window borders are visible */
  padding-bottom: 0.5px; /* to make sure that window borders are visible */
  /* Fonts are saved on server so we don't need alternatives */
	font-family: "CourierNew";
	/* font-size: 100%;*/ /* Browser default (usually 16px) */
  font-size: 16px; /* Base font size, all other sizes are relative to this */
  width: 100%;
  height: 100%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
  display: flex;
  background-color: black;
  background-image: url(/images/background-clouds.jpg);
  
  /* Following code makes the image always cover whole area */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ---------------- Window --------------- */

.Window
{
  width: 30%;
  height: 20%;
  outline: 0 none;
  /*margin: 1px;*/
  padding: 0;
  /*border: 1px solid rgba(100,100,100,0.8);*/
  border: 1px solid rgba(110,130,150,0.8);
  background-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
}

.WindowTitleBar
{
  width: 100%;
  /*height: 18px;*/ /* Height is computed automatically */
  /*border-top: 1 px solid dimgray;*/
  /*border-bottom: 1px double rgba(100,100,100, 0.8);*/
  outline: 0 none;
  margin: 0;
  /*padding: 2px;*/
  /*background-color: rgba(50,50,50, 0.9);*/
  /*background-image: url('/images/titlebar.jpg');*/
  /*background-color: rgb(50,50,50);*/
  display: table; /* To make the title text centered */

  /* --- Background --- */
  /* Old browsers */
  background: rgba(50,50,50,0.8);
  /* FF3.6-15 */
  background: -moz-linear-gradient(top, rgba(30,30,30, 0.8) 0%, rgba(50,50,50,0.8) 20%, rgba(50,50,50,0.8) 80%, rgba(0,0,0,0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top, rgba(30,30,30, 0.8) 0%, rgba(50,50,50,0.8) 20%, rgba(50,50,50,0.8) 80%, rgba(0,0,0,0.8) 100%);
  /* CSS3 compatible browsers*/
  background: linear-gradient(rgba(30,30,30, 0.8) 0%, rgba(50,50,50,0.8) 20%, rgba(50,50,50,0.8) 80%, rgba(0,0,0,0.8) 100%);
}

.WindowTitle
{
  color: rgb(210, 230, 250); /* text color */
  text-align: center;
  width: 100%;
  height: 100%;
  /*border: 1px solid rgba(110,130,150,0.8);*/
  text-overflow: ellipsis; /* Add '...' if text overflows */
  display: table-cell;  /* To make the text horizonally centered */
  vertical-align: middle;  /* To make the text horizonally centered */
  font-size: 0.75em;
  font-family: CourrierNew;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.WindowContent
{
  width: 100%;
  height: 100%;
  outline: 0 none;
  margin: 0;
  padding: 0;
}

/* ---------------- ScrollView --------------- */

.ScrollView /* Extends .Window */
{
  /* Clip overflowing content */
  overflow: hidden;
}

.ScrollViewContent  /* Extends .WindowContent */
{
  display: flex;
  flex-direction: column;
}

.ScrollViewOutput
{
  width: 100%;
  height: 100%;
  /*
  border-left: 2px ridge dimgray;
  border-right: 2px ridge dimgray;
  border-bottom: 2px ridge dimgray;
  */
  outline: 0 none;
  margin: 0;
  padding: 3px;
  font-size: 100%;
  background-color: black;
  overflow-x: hidden;   /* Do not use horizontal scrolling */
  overflow-y: auto;     /* Automatically create vertical scrollbar */
  word-wrap:break-word; /* Areak long words that wont fit */
}

/*
  'scrollview_input' is a textarea (multiline input box).
  'height' is set automatically to match height of 1 line of text.
*/
.ScrollViewInput
{
  width: 100%;
  outline: 0 none;
  margin: 0;
  resize: none;
  overflow: hidden; /* also hides the scrollbar */
  color: rgb(0,225,0); /* text color */
  font-family: CourrierNewBold;
  font-size: 100%;
  background-color: rgba(50,50,50,0.8);
  border: 1px solid rgba(110,130,150,0.8);
}